<a href="https://colab.research.google.com/github/ajit04022000/python_begginers_codewith_ajit/blob/main/LOOPS_IN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#iwhile loop

In [ ]:
i = 0
while i<10:
  print("this the no " + str(i+1))
  i = i+1
print("done")

this the no 1
this the no 2
this the no 3
this the no 4
this the no 5
this the no 6
this the no 7
this the no 8
this the no 9
this the no 10
done

In [ ]:
#quick quiz
i = 0
while i<=50:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
#quick quiz write a program to print the context of a list using loop.
i =0
fruits = ['banana','watermellon','graphes','mangoes']
while i < len(fruits):
  print(fruits[i])
  i = i+1

banana
watermellon
graphes
mangoes

#for loop

In [ ]:
fruits = ['banana','watermellon','graphes','mangoes']
for fruit in fruits:
  print(fruit)

banana
watermellon
graphes
mangoes

range function

In [ ]:
for i in range(1,8):
  print(i)

1
2
3
4
5
6
7

for loop with else

In [ ]:
for i in range(10):
  print(i)
else:
  print("this else condition is run when the for loop is end")

0
1
2
3
4
5
6
7
8
9
this else condition is run when the for loop is end

break statement in for loop

In [ ]:
for i in range(10):
  print(i)
  if i == 5:
    break
# the else atatement is not working because the upper statement breake .
else:
  print("abcd")

0
1
2
3
4
5

continue (its skip the value) statement in for loop

In [ ]:
for i in range(10):
  
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

pass statement  (do nothing)

In [ ]:
i = 4
if i >0:
  pass
print("do nothing")

do nothing

In [ ]:
# print 1 to 50 using while loop
i = 0
while i<50+1:
  print(f'the no is {i}')
  i += 1

the no is 0
the no is 1
the no is 2
the no is 3
the no is 4
the no is 5
the no is 6
the no is 7
the no is 8
the no is 9
the no is 10
the no is 11
the no is 12
the no is 13
the no is 14
the no is 15
the no is 16
the no is 17
the no is 18
the no is 19
the no is 20
the no is 21
the no is 22
the no is 23
the no is 24
the no is 25
the no is 26
the no is 27
the no is 28
the no is 29
the no is 30
the no is 31
the no is 32
the no is 33
the no is 34
the no is 35
the no is 36
the no is 37
the no is 38
the no is 39
the no is 40
the no is 41
the no is 42
the no is 43
the no is 44
the no is 45
the no is 46
the no is 47
the no is 48
the no is 49
the no is 50

In [ ]:
item = "ajit"
for i in item:
  ab = i * 2
  print(ab)

aa
jj
ii
tt

In [ ]:
for i in range(0,9):
  print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
display(i)

8

In [ ]:
a = (1,2,3,4)

In [ ]:
ajit = ["a","b","c","d"]

In [ ]:
for i in range (0,7,2):
  print(i)

0
2
4
6

In [ ]:
for i in range(0,50):
  print(i)
  if i == 40:
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [ ]:
for item in range(1 , 1000 , 20):
  print(f'this id the item no {item}')
  if item == 100:
    continue
  else:
    break

this id the item no 1

In [ ]:
a = [5,6,8,9,7,10]

In [ ]:
for number,i in enumerate(a):
  squred_number = i**2
  print(f'the {i} number is {number+1} ')
  print(f'and the squred of {i} is {squred_number}')

the 5 number is 1
and the squred of 5 is 25
the 6 number is 2
and the squred of 6 is 36
the 8 number is 3
and the squred of 8 is 64
the 9 number is 4
and the squred of 9 is 81
the 7 number is 5
and the squred of 7 is 49
the 10 number is 6
and the squred of 10 is 100

#practice set

In [ ]:
#Q1- multiplication table of a given number using for loop

In [ ]:
num = int(input("ebter the number"))

ebter the number5

In [ ]:
#my idea
lis =[1,2,3,4,5,6,7,8,9,10]
for item in lis:
  table = item * num
  print(f'{item}x{num}={table} ')

1x5=5
2x5=10
3x5=15
4x5=20
5x5=25
6x5=30
7x5=35
8x5=40
9x5=45
10x5=50

In [ ]:
#anothe way to do this
num = int(input("enter the number"))
for i in range(1,11):
  print(str(num) + "x" + str(i) + '=' + str(i*num))

enter the number5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [ ]:
#Q2 -

In [ ]:
l1 = ['harry','sohan','sachin','rahul']

In [ ]:
for name in l1:
  if name.startswith('s'):
    print(f'hello {name}')

hello sohan
hello sachin

In [ ]:
#Q3-prime number

In [ ]:
num = int(input('enter the number'))

enter the number2

In [ ]:
prime = True
for i in range(2,num):
  if (num%i == 0):
    prime = False
    break
if prime:
  print('this is a prime no')
else:
  print('this is not a prime no')

this is a prime no

In [ ]:
#Q5-

In [ ]:
i = 1
while i<6:
  for i 
  print(i)
  i = i+1

In [ ]:
#Q6-

In [ ]:
num = int(input("enter the no"))
factorial = 1
for i in range(1,num+1):
  factorial = factorial * i    
print(f"the factorial of {num}this number is {factorial}")

enter the no5
the factorial of 5this number is 120

In [ ]:
#Q7-

In [ ]:
n = 3
for i in range(3):
  print (" " * (n-i-1), end ="")
  print ("*" * (2*i+1), end="")
  print (" " * (n-i-1))

  *
 ***
*****

In [ ]:
#q8-

In [ ]:
for i in range(4):
  print('*'* (i+1))

*
**
***
****