<a href="https://colab.research.google.com/github/ajit04022000/python_begginers/blob/main/SET_AND_DICTONARY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DICTONARY

In [ ]:
#collection of key value pair

In [ ]:
my_dict = {"ajit":"good boy" , "mark":[100,50,60], "village":"patuadihi" , "father":"l.n.patel", "friends":{"siku","pandiya","bhart"}}

In [ ]:
my_dict["ajit"]

'good boy'

In [ ]:
my_dict["mark"]

[100, 50, 60]

In [ ]:
my_dict["mark"] =[11,15,25]

In [ ]:
print(my_dict)

{'ajit': 'good boy', 'mark': [11, 15, 25], 'village': 'patuadihi', 'father': 'l.n.patel', 'friends': {'bhart', 'siku', 'pandiya'}}

In [ ]:
my_dict["friends"]

{'bhart', 'pandiya', 'siku'}

# METHODS OF DICTONARY

In [ ]:
my_dict = {"ajit":"good boy" , "mark":[100,50,60], "village":"patuadihi" , "father":"l.n.patel", "friends":{"siku","pandiya","bhart"},1:5}

In [ ]:
# .keys() method
my_dict.keys()

dict_keys(['ajit', 'mark', 'village', 'father', 'friends', 1])

In [ ]:
len(my_dict.keys())

6

In [ ]:
print(list(my_dict.keys()))

['ajit', 'mark', 'village', 'father', 'friends', 1]

In [ ]:
# . values () method
my_dict . values()

dict_values(['good boy', [100, 50, 60], 'patuadihi', 'l.n.patel', {'bhart', 'siku', 'pandiya'}, 5])

In [ ]:
# . items ()
my_dict.items()

dict_items([('ajit', 'good boy'), ('mark', [100, 50, 60]), ('village', 'patuadihi'), ('father', 'l.n.patel'), ('friends', {'bhart', 'siku', 'pandiya'}), (1, 5)])

In [ ]:
# .get()
my_dict.get('mark')

[100, 50, 60]

In [ ]:
# . update()     update the dictonary by adding key values pairs from a and update the exasting value of a key


a = {12:15,15:16}
my_dict.update(a)

In [ ]:
my_dict

{1: 5,
 12: 15,
 15: 16,
 'ajit': 'good boy',
 'father': 'l.n.patel',
 'friends': {'bhart', 'pandiya', 'siku'},
 'mark': [100, 50, 60],
 'village': 'patuadihi'}

In [ ]:
print(my_dict)

{'ajit': 'good boy', 'mark': [100, 50, 60], 'village': 'patuadihi', 'father': 'l.n.patel', 'friends': {'bhart', 'siku', 'pandiya'}, 1: 5, 12: 15, 15: 16}

In [ ]:
# .get("x") to find a valu by the using of key

In [ ]:
my_dict

{1: 5,
 12: 15,
 15: 16,
 'ajit': 'good boy',
 'father': 'l.n.patel',
 'friends': {'bhart', 'pandiya', 'siku'},
 'mark': [100, 50, 60],
 'village': 'patuadihi'}

In [ ]:
print(my_dict.get("name"))    #if the key is not present in the dict then its give us the value NONE but if it is present it's give us the desire value

None

In [ ]:
print(my_dict.get("ajit"))

good boy

#sets

In [ ]:
#set is a collection of non repatative element

In [ ]:
a = {1,2,3,4,4,4,5,5,5}
print(a)
type(a)

{1, 2, 3, 4, 5}

set

In [ ]:
# empty set    if we this a = {} this is an empty set so we wrong this is an empty dict
a = set()

In [ ]:
type (a)

set

In [ ]:
# . add("x") by this method we add something to our dictonary
a .add(45)
print(a)

{48, 45}

In [ ]:
#.update method is used to add another set to our exasting set
a . update([4,46,48])
print(a)

{48, 4, 45, 46}

In [ ]:
a.remove(46)

In [ ]:
a

{4, 45, 48}

In [ ]:
a ={1,2,3,4,5,6}
b = {8,9,5,6,1,2,4}

In [ ]:
a | b

{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
a &b

{1, 2, 4, 5, 6}

In [ ]:
a-b

{3}

In [ ]:
b-a

{8, 9}

In [ ]:
my_set = {5,7,9,3}

In [ ]:
my_set.update(["2","3","4"])

In [ ]:
print(my_set)

{3, '4', 5, 7, 9, '2', '3'}